@model Proyecto_Tienda.Models.Producto
@{
    ViewBag.Title = "Modificacion";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alta</title>
</head>
<body>
    <div>

        <form method="post" action="/Producto/Modificacion">

            <br />
            <label class="m-2">
                Id:
                <input type="text" name="Id" value="@Model.Id" />
            </label>
            
            <br />
            <label class="m-2">
                Proveedor:
                <input type="text" name="Marca" value="@Model.Marca" />
            </label>
           
            <br />
            <label class="m-2">
                Codigo
                <input type="text" name="Codigo" value="@Model.Codigo" />
            </label>
            
            <br />
            <label class="m-2">
                Descripcion:
                <input type="text" name="Descripcion" value="@Model.Descripcion" />
            </label>
            
            <br />
            <label class="m-2">
                PreciocVenta:
                <input type="text" name="PrecioVenta" value="@Model.PrecioVenta" />
                <br />
            </label>
            
            <label class="m-2">
                Precio Costo:
                <input type="text" name="PrecioCosto" value="@Model.PrecioCosto" />
            </label>
            
            <br />
            <label class="m-2">
                Stock:
                <input type="text" name="Stock" value="@Model.Stock" />
            </label>
           
            <br />
            <label class="m-2">
                Id Tienda:
                <input type="text" name="IdTienda" value="@Model.IdTienda" />
            </label>
            
            <br />
            <label class="m-2">
                Id Proveedor:
                <input type="text" name="IdProveedor" value="@Model.IdProveedor" />
            </label>
            
            <br />

            <input class="btn btn-success m-2" type="submit" value="Confirmar" />
        </form>
    </div>
</body>
</html>